<div>
  <h1 class="text-3xl font-bold underline">
      Welcome to SimpleStep
  </h1>
  <p class="text-slate-500">The easiest way to create smart and shareable checklists for you and whoever needs a checklist</p>
  <p class="text-blue-600">Perfect for repeating and complex tasks</p>
  <div>
    <p>Whenever you need to</p>
    <ul>
      <li>Do a safety check</li>
      <li>Check that your car is good to go</li>
      <li>Prepare your cabin for the winter</li>
      <li>Make sure your campervan is ready for the first roadtrip of the seasin</li>
    </ul>
  </div>
  <%= link_to 'More about SimpleStep', "about" %>
</div>
